In [1]:
import pandas as pd
import numpy as np
from scipy.stats import norm

In [2]:
df = pd.read_csv('./data/fifa23_num_clean.csv')
df

,Overall,Potential,Value(in Euro),Age,Height(in cm),Weight(in kg),TotalStats,BaseStats,Wage(in Euro),Preferred Foot,...,LB Rating,CB Rating,RB Rating,GK Rating,Attacking Work Rate_High,Attacking Work Rate_Low,Attacking Work Rate_Medium,Defensive Work Rate_High,Defensive Work Rate_Low,Defensive Work Rate_Medium
0,91,91,54000000,35,169,67,2190,452,195000,0,...,62,53,62,22,0,1,0,0,1,0
1,91,91,64000000,34,185,81,2147,455,450000,1,...,63,58,63,21,0,0,1,0,0,1
2,91,91,84000000,33,185,81,2205,458,420000,1,...,64,63,64,22,1,0,0,0,0,1
3,91,91,107500000,31,181,70,2303,483,350000,1,...,78,72,78,24,1,0,0,1,0,0
4,91,95,190500000,23,182,73,2177,470,230000,1,...,66,57,66,21,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18415,47,56,110000,21,174,68,1287,274,500,1,...,40,36,40,15,0,0,1,0,0,1
18416,47,57,90000,17,175,60,1289,267,500,1,...,49,49,49,15,0,0,1,0,0,1
18417,47,67,130000,18,170,65,1333,277,500,1,...,46,42,46,17,1,0,0,0,0,1
18418,47,61,100000,17,178,65,1113,226,500,1,...,47,49,47,15,0,0,1,0,0,1
18419,47,50,60000,25,176,66,1277,269,500,0,...,47,47,47,19,0,0,1,0,0,1

In [3]:
df.drop(columns={'Value(in Euro)', 'Wage(in Euro)'}, inplace=True)
df

,Overall,Potential,Age,Height(in cm),Weight(in kg),TotalStats,BaseStats,Preferred Foot,Weak Foot Rating,Skill Moves,...,LB Rating,CB Rating,RB Rating,GK Rating,Attacking Work Rate_High,Attacking Work Rate_Low,Attacking Work Rate_Medium,Defensive Work Rate_High,Defensive Work Rate_Low,Defensive Work Rate_Medium
0,91,91,35,169,67,2190,452,0,4,4,...,62,53,62,22,0,1,0,0,1,0
1,91,91,34,185,81,2147,455,1,4,4,...,63,58,63,21,0,0,1,0,0,1
2,91,91,33,185,81,2205,458,1,4,4,...,64,63,64,22,1,0,0,0,0,1
3,91,91,31,181,70,2303,483,1,5,4,...,78,72,78,24,1,0,0,1,0,0
4,91,95,23,182,73,2177,470,1,4,5,...,66,57,66,21,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18415,47,56,21,174,68,1287,274,1,3,2,...,40,36,40,15,0,0,1,0,0,1
18416,47,57,17,175,60,1289,267,1,3,2,...,49,49,49,15,0,0,1,0,0,1
18417,47,67,18,170,65,1333,277,1,3,2,...,46,42,46,17,1,0,0,0,0,1
18418,47,61,17,178,65,1113,226,1,3,2,...,47,49,47,15,0,0,1,0,0,1
18419,47,50,25,176,66,1277,269,0,3,2,...,47,47,47,19,0,0,1,0,0,1

In [4]:
overall = df.iloc[:, 0]

df = df.drop(df.columns[0], axis=1)
df

,Potential,Age,Height(in cm),Weight(in kg),TotalStats,BaseStats,Preferred Foot,Weak Foot Rating,Skill Moves,International Reputation,...,LB Rating,CB Rating,RB Rating,GK Rating,Attacking Work Rate_High,Attacking Work Rate_Low,Attacking Work Rate_Medium,Defensive Work Rate_High,Defensive Work Rate_Low,Defensive Work Rate_Medium
0,91,35,169,67,2190,452,0,4,4,5,...,62,53,62,22,0,1,0,0,1,0
1,91,34,185,81,2147,455,1,4,4,4,...,63,58,63,21,0,0,1,0,0,1
2,91,33,185,81,2205,458,1,4,4,5,...,64,63,64,22,1,0,0,0,0,1
3,91,31,181,70,2303,483,1,5,4,4,...,78,72,78,24,1,0,0,1,0,0
4,95,23,182,73,2177,470,1,4,5,4,...,66,57,66,21,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18415,56,21,174,68,1287,274,1,3,2,1,...,40,36,40,15,0,0,1,0,0,1
18416,57,17,175,60,1289,267,1,3,2,1,...,49,49,49,15,0,0,1,0,0,1
18417,67,18,170,65,1333,277,1,3,2,1,...,46,42,46,17,1,0,0,0,0,1
18418,61,17,178,65,1113,226,1,3,2,1,...,47,49,47,15,0,0,1,0,0,1
18419,50,25,176,66,1277,269,0,3,2,1,...,47,47,47,19,0,0,1,0,0,1

In [5]:
overall

0        91
1        91
2        91
3        91
4        91
         ..
18415    47
18416    47
18417    47
18418    47
18419    47
Name: Overall, Length: 18420, dtype: int64

In [6]:
# Generacion de missing values MCAR
mcar_fraction = 0.1
mcar_mask = np.random.rand(df.shape[0], df.shape[1]) < mcar_fraction
df_mcar_10 = df.mask(mcar_mask)

df_mcar_10

,Potential,Age,Height(in cm),Weight(in kg),TotalStats,BaseStats,Preferred Foot,Weak Foot Rating,Skill Moves,International Reputation,...,LB Rating,CB Rating,RB Rating,GK Rating,Attacking Work Rate_High,Attacking Work Rate_Low,Attacking Work Rate_Medium,Defensive Work Rate_High,Defensive Work Rate_Low,Defensive Work Rate_Medium
0,91.0,35.0,169.0,67.0,2190.0,452.0,0.0,4.0,4.0,5.0,...,62.0,53.0,62.0,22.0,0.0,1.0,0.0,0.0,1.0,0.0
1,91.0,34.0,185.0,81.0,NaN,455.0,1.0,4.0,4.0,NaN,...,63.0,58.0,63.0,21.0,0.0,0.0,1.0,0.0,0.0,1.0
2,91.0,33.0,185.0,81.0,2205.0,458.0,1.0,4.0,4.0,5.0,...,64.0,63.0,64.0,NaN,1.0,0.0,0.0,0.0,NaN,1.0
3,91.0,31.0,181.0,70.0,2303.0,483.0,NaN,5.0,4.0,4.0,...,78.0,72.0,78.0,24.0,NaN,0.0,0.0,1.0,0.0,0.0
4,95.0,23.0,182.0,73.0,2177.0,470.0,1.0,4.0,5.0,4.0,...,66.0,57.0,NaN,21.0,1.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18415,56.0,21.0,174.0,68.0,1287.0,274.0,1.0,3.0,2.0,1.0,...,40.0,36.0,40.0,15.0,0.0,0.0,1.0,0.0,0.0,1.0
18416,57.0,17.0,175.0,NaN,1289.0,267.0,1.0,3.0,2.0,1.0,...,49.0,49.0,49.0,15.0,0.0,0.0,1.0,0.0,0.0,1.0
18417,67.0,18.0,170.0,NaN,1333.0,277.0,1.0,3.0,2.0,1.0,...,46.0,NaN,46.0,17.0,1.0,0.0,0.0,NaN,NaN,NaN
18418,61.0,17.0,178.0,65.0,1113.0,226.0,1.0,3.0,2.0,1.0,...,47.0,NaN,47.0,15.0,0.0,NaN,NaN,0.0,0.0,NaN
18419,50.0,25.0,176.0,66.0,1277.0,269.0,0.0,3.0,2.0,NaN,...,47.0,47.0,47.0,19.0,NaN,0.0,1.0,0.0,0.0,1.0

In [7]:
mcar_fraction = 0.3
mcar_mask = np.random.rand(df.shape[0], df.shape[1]) < mcar_fraction
df_mcar_30 = df.mask(mcar_mask)

df_mcar_30

,Potential,Age,Height(in cm),Weight(in kg),TotalStats,BaseStats,Preferred Foot,Weak Foot Rating,Skill Moves,International Reputation,...,LB Rating,CB Rating,RB Rating,GK Rating,Attacking Work Rate_High,Attacking Work Rate_Low,Attacking Work Rate_Medium,Defensive Work Rate_High,Defensive Work Rate_Low,Defensive Work Rate_Medium
0,91.0,35.0,169.0,67.0,2190.0,452.0,NaN,4.0,NaN,NaN,...,62.0,53.0,62.0,22.0,0.0,1.0,NaN,NaN,1.0,NaN
1,91.0,NaN,NaN,81.0,2147.0,455.0,1.0,NaN,4.0,NaN,...,NaN,58.0,63.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN
2,91.0,NaN,185.0,NaN,2205.0,458.0,NaN,4.0,4.0,5.0,...,64.0,63.0,64.0,22.0,1.0,0.0,0.0,0.0,NaN,NaN
3,91.0,31.0,181.0,70.0,2303.0,NaN,NaN,5.0,NaN,4.0,...,NaN,NaN,78.0,24.0,NaN,0.0,NaN,1.0,NaN,0.0
4,95.0,23.0,182.0,NaN,NaN,NaN,1.0,4.0,5.0,4.0,...,NaN,57.0,66.0,21.0,1.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18415,56.0,21.0,174.0,NaN,NaN,274.0,1.0,3.0,2.0,1.0,...,40.0,36.0,40.0,15.0,0.0,0.0,1.0,0.0,0.0,NaN
18416,57.0,17.0,175.0,60.0,1289.0,NaN,1.0,3.0,2.0,1.0,...,NaN,NaN,49.0,15.0,0.0,NaN,1.0,0.0,NaN,1.0
18417,NaN,NaN,170.0,65.0,1333.0,277.0,1.0,3.0,2.0,NaN,...,NaN,NaN,46.0,NaN,1.0,0.0,0.0,0.0,0.0,1.0
18418,NaN,17.0,178.0,NaN,NaN,NaN,NaN,3.0,2.0,1.0,...,NaN,49.0,NaN,15.0,0.0,0.0,1.0,NaN,0.0,1.0
18419,NaN,25.0,176.0,66.0,1277.0,269.0,NaN,3.0,2.0,NaN,...,47.0,47.0,47.0,NaN,NaN,0.0,1.0,0.0,0.0,NaN

In [8]:
# Generacion de missing values MAR
strat_var = "Age"

mar_mask = df[strat_var] == 25
df_mar = df.mask(mar_mask)

df_mar

,Potential,Age,Height(in cm),Weight(in kg),TotalStats,BaseStats,Preferred Foot,Weak Foot Rating,Skill Moves,International Reputation,...,LB Rating,CB Rating,RB Rating,GK Rating,Attacking Work Rate_High,Attacking Work Rate_Low,Attacking Work Rate_Medium,Defensive Work Rate_High,Defensive Work Rate_Low,Defensive Work Rate_Medium
0,91.0,35.0,169.0,67.0,2190.0,452.0,0.0,4.0,4.0,5.0,...,62.0,53.0,62.0,22.0,0.0,1.0,0.0,0.0,1.0,0.0
1,91.0,34.0,185.0,81.0,2147.0,455.0,1.0,4.0,4.0,4.0,...,63.0,58.0,63.0,21.0,0.0,0.0,1.0,0.0,0.0,1.0
2,91.0,33.0,185.0,81.0,2205.0,458.0,1.0,4.0,4.0,5.0,...,64.0,63.0,64.0,22.0,1.0,0.0,0.0,0.0,0.0,1.0
3,91.0,31.0,181.0,70.0,2303.0,483.0,1.0,5.0,4.0,4.0,...,78.0,72.0,78.0,24.0,1.0,0.0,0.0,1.0,0.0,0.0
4,95.0,23.0,182.0,73.0,2177.0,470.0,1.0,4.0,5.0,4.0,...,66.0,57.0,66.0,21.0,1.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18415,56.0,21.0,174.0,68.0,1287.0,274.0,1.0,3.0,2.0,1.0,...,40.0,36.0,40.0,15.0,0.0,0.0,1.0,0.0,0.0,1.0
18416,57.0,17.0,175.0,60.0,1289.0,267.0,1.0,3.0,2.0,1.0,...,49.0,49.0,49.0,15.0,0.0,0.0,1.0,0.0,0.0,1.0
18417,67.0,18.0,170.0,65.0,1333.0,277.0,1.0,3.0,2.0,1.0,...,46.0,42.0,46.0,17.0,1.0,0.0,0.0,0.0,0.0,1.0
18418,61.0,17.0,178.0,65.0,1113.0,226.0,1.0,3.0,2.0,1.0,...,47.0,49.0,47.0,15.0,0.0,0.0,1.0,0.0,0.0,1.0
18419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
def miv_generating_algorithm(data, mdp, nV):
    x = len(data)
    y = len(data.columns)
    observations = []
    causatives = np.random.choice(range(y), nV, replace=False)

    for causative in causatives:
        aux = data.iloc[:, causative].copy()
        num_missing_values = int(x * y * mdp / 100 // nV)

        for _ in range(num_missing_values):
            min_index = aux.idxmin()
            observations.append(min_index)
            aux.loc[min_index] = np.iinfo(np.int32).max

    for observation in observations:
        data.iloc[observation, causative] = np.nan

    return data

In [10]:
mdp = 10
nV = 2
test = df.copy()
test_mar = miv_generating_algorithm(test, mdp, nV)

test_mar

,Potential,Age,Height(in cm),Weight(in kg),TotalStats,BaseStats,Preferred Foot,Weak Foot Rating,Skill Moves,International Reputation,...,LB Rating,CB Rating,RB Rating,GK Rating,Attacking Work Rate_High,Attacking Work Rate_Low,Attacking Work Rate_Medium,Defensive Work Rate_High,Defensive Work Rate_Low,Defensive Work Rate_Medium
0,91,35,169,67,2190,452,0,4,4,5,...,62,53,62,22,0,1,0,0,1,0
1,91,34,185,81,2147,455,1,4,4,4,...,63,58,63,21,0,0,1,0,0,1
2,91,33,185,81,2205,458,1,4,4,5,...,64,63,64,22,1,0,0,0,0,1
3,91,31,181,70,2303,483,1,5,4,4,...,78,72,78,24,1,0,0,1,0,0
4,95,23,182,73,2177,470,1,4,5,4,...,66,57,66,21,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18415,56,21,174,68,1287,274,1,3,2,1,...,40,36,40,15,0,0,1,0,0,1
18416,57,17,175,60,1289,267,1,3,2,1,...,49,49,49,15,0,0,1,0,0,1
18417,67,18,170,65,1333,277,1,3,2,1,...,46,42,46,17,1,0,0,0,0,1
18418,61,17,178,65,1113,226,1,3,2,1,...,47,49,47,15,0,0,1,0,0,1
18419,50,25,176,66,1277,269,0,3,2,1,...,47,47,47,19,0,0,1,0,0,1

In [11]:
# Generacion de missing values MNAR
cols = df.columns.to_list()
print(cols)
print(len(cols))

['Potential', 'Age', 'Height(in cm)', 'Weight(in kg)', 'TotalStats', 'BaseStats', 'Preferred Foot', 'Weak Foot Rating', 'Skill Moves', 'International Reputation', 'Pace Total', 'Shooting Total', 'Passing Total', 'Dribbling Total', 'Defending Total', 'Physicality Total', 'Crossing', 'Finishing', 'Heading Accuracy', 'Short Passing', 'Volleys', 'Dribbling', 'Curve', 'Freekick Accuracy', 'LongPassing', 'BallControl', 'Acceleration', 'Sprint Speed', 'Agility', 'Reactions', 'Balance', 'Shot Power', 'Jumping', 'Stamina', 'Strength', 'Long Shots', 'Aggression', 'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure', 'Marking', 'Standing Tackle', 'Sliding Tackle', 'Goalkeeper Diving', 'Goalkeeper Handling', ' GoalkeeperKicking', 'Goalkeeper Positioning', 'Goalkeeper Reflexes', 'ST Rating', 'LW Rating', 'LF Rating', 'CF Rating', 'RF Rating', 'RW Rating', 'CAM Rating', 'LM Rating', 'CM Rating', 'RM Rating', 'LWB Rating', 'CDM Rating', 'RWB Rating', 'LB Rating', 'CB Rating', 'RB Rating', 'GK Rating', 'Attacking Work Rate_High', 'Attacking Work Rate_Low', 'Attacking Work Rate_Medium', 'Defensive Work Rate_High', 'Defensive Work Rate_Low', 'Defensive Work Rate_Medium']
73

In [12]:
binomial = ['Attacking Work Rate_High', 'Attacking Work Rate_Low',
            'Attacking Work Rate_Medium', 'Defensive Work Rate_High',
            'Defensive Work Rate_Low', 'Defensive Work Rate_Medium']
normal = list(set(cols) - set(binomial))
print(len(normal))

67

In [14]:
df_mnar = df.copy()


binomial_missing_prob = 0.1

normal_missing_prob = lambda x: 1 - norm.cdf(x, loc=0.5, scale=0.1)

for col in binomial:
    df_mnar[col] = df_mnar[col].apply(lambda x: np.nan if np.random.binomial(1, binomial_missing_prob) else x)

for col in normal:
    min_value = df_mnar[col].min()
    max_value = df_mnar[col].max()

    df_mnar[col] = df_mnar[col].apply(lambda x: (x - min_value) / (max_value - min_value))
    
    df_mnar[col] = df_mnar[col].apply(lambda x: np.nan if np.random.binomial(1, normal_missing_prob(x)) else x)

df_mnar

ValueError: p < 0, p > 1 or p is NaN

In [ ]:
df_mar.insert(0, "Overall", overall)
df_mar

In [ ]:
df_mcar.insert(0, "Overall", overall)
df_mcar

In [ ]:
df_mnar.insert(0, "Overall", overall)
df_mnar

In [ ]:
df_mar.to_csv('./data/fifa23_MAR.csv', index=False)
df_mcar.to_csv('./data/fifa23_MCAR.csv', index=False)
df_mnar.to_csv('./data/fifa23_MNAR.csv', index=False)