In [1]:
import pandas as pd
import numpy as np
from IPython.display import display

In [2]:
df = pd.read_csv('./data/fifa23_num_clean.csv')

In [3]:
df.drop(columns={'Value(in Euro)', 'Wage(in Euro)'}, inplace=True)

overall = df.iloc[:, 0]
df = df.drop(df.columns[0], axis=1)

df

,Potential,Age,Height(in cm),Weight(in kg),TotalStats,BaseStats,Preferred Foot,Weak Foot Rating,Skill Moves,International Reputation,...,LB Rating,CB Rating,RB Rating,GK Rating,Attacking Work Rate_High,Attacking Work Rate_Low,Attacking Work Rate_Medium,Defensive Work Rate_High,Defensive Work Rate_Low,Defensive Work Rate_Medium
0,91,35,169,67,2190,452,0,4,4,5,...,62,53,62,22,0,1,0,0,1,0
1,91,34,185,81,2147,455,1,4,4,4,...,63,58,63,21,0,0,1,0,0,1
2,91,33,185,81,2205,458,1,4,4,5,...,64,63,64,22,1,0,0,0,0,1
3,91,31,181,70,2303,483,1,5,4,4,...,78,72,78,24,1,0,0,1,0,0
4,95,23,182,73,2177,470,1,4,5,4,...,66,57,66,21,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18415,56,21,174,68,1287,274,1,3,2,1,...,40,36,40,15,0,0,1,0,0,1
18416,57,17,175,60,1289,267,1,3,2,1,...,49,49,49,15,0,0,1,0,0,1
18417,67,18,170,65,1333,277,1,3,2,1,...,46,42,46,17,1,0,0,0,0,1
18418,61,17,178,65,1113,226,1,3,2,1,...,47,49,47,15,0,0,1,0,0,1
18419,50,25,176,66,1277,269,0,3,2,1,...,47,47,47,19,0,0,1,0,0,1

## **MCAR GENERATION**

In [4]:
def generate_mcar(data, pr):
    x = len(data)
    y = len(data.columns)
    num_missing_values = int(x * y * pr)

    missing_row_indices = np.random.randint(0, x, num_missing_values)
    missing_col_indices = np.random.randint(0, y, num_missing_values)

    for i in range(num_missing_values):
        data.iloc[missing_row_indices[i], missing_col_indices[i]] = np.nan
    
    return data

In [5]:
probs = [0.1, 0.3, 0.5]

mcar_dfs = {}

for p in probs:
    mcar = df.copy()
    mcar_dfs[f'mcar_df_{int(p*100)}'] = generate_mcar(mcar, p)

In [6]:
mcar_dfs['mcar_df_10']

,Potential,Age,Height(in cm),Weight(in kg),TotalStats,BaseStats,Preferred Foot,Weak Foot Rating,Skill Moves,International Reputation,...,LB Rating,CB Rating,RB Rating,GK Rating,Attacking Work Rate_High,Attacking Work Rate_Low,Attacking Work Rate_Medium,Defensive Work Rate_High,Defensive Work Rate_Low,Defensive Work Rate_Medium
0,91.0,35.0,169.0,67.0,2190.0,452.0,NaN,4.0,4.0,5.0,...,62.0,53.0,62.0,22.0,0.0,1.0,0.0,0.0,1.0,0.0
1,91.0,NaN,NaN,NaN,2147.0,455.0,1.0,4.0,4.0,4.0,...,NaN,NaN,63.0,21.0,0.0,0.0,1.0,0.0,0.0,1.0
2,91.0,33.0,185.0,81.0,2205.0,458.0,1.0,4.0,4.0,5.0,...,64.0,NaN,64.0,22.0,1.0,0.0,NaN,0.0,0.0,1.0
3,91.0,31.0,181.0,70.0,2303.0,483.0,NaN,5.0,4.0,4.0,...,NaN,72.0,78.0,24.0,1.0,0.0,0.0,NaN,0.0,0.0
4,95.0,23.0,182.0,73.0,2177.0,470.0,1.0,4.0,5.0,4.0,...,66.0,57.0,66.0,21.0,1.0,0.0,0.0,0.0,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18415,56.0,21.0,174.0,68.0,1287.0,274.0,1.0,3.0,NaN,1.0,...,40.0,36.0,40.0,15.0,0.0,0.0,1.0,0.0,0.0,1.0
18416,57.0,17.0,175.0,60.0,1289.0,267.0,1.0,3.0,NaN,1.0,...,49.0,49.0,49.0,15.0,0.0,0.0,1.0,0.0,0.0,1.0
18417,67.0,18.0,170.0,65.0,1333.0,277.0,1.0,3.0,2.0,1.0,...,46.0,42.0,46.0,17.0,1.0,0.0,0.0,0.0,0.0,1.0
18418,61.0,17.0,178.0,65.0,1113.0,226.0,1.0,3.0,2.0,NaN,...,47.0,49.0,47.0,15.0,0.0,NaN,1.0,0.0,0.0,1.0
18419,50.0,NaN,176.0,66.0,1277.0,NaN,0.0,3.0,NaN,1.0,...,47.0,47.0,47.0,19.0,0.0,NaN,NaN,0.0,0.0,1.0

In [7]:
print(mcar_dfs['mcar_df_10'].isna().sum().sum())

127944

In [8]:
mcar_dfs['mcar_df_30']

,Potential,Age,Height(in cm),Weight(in kg),TotalStats,BaseStats,Preferred Foot,Weak Foot Rating,Skill Moves,International Reputation,...,LB Rating,CB Rating,RB Rating,GK Rating,Attacking Work Rate_High,Attacking Work Rate_Low,Attacking Work Rate_Medium,Defensive Work Rate_High,Defensive Work Rate_Low,Defensive Work Rate_Medium
0,NaN,35.0,169.0,67.0,2190.0,NaN,NaN,4.0,NaN,5.0,...,62.0,53.0,62.0,22.0,0.0,NaN,0.0,0.0,1.0,NaN
1,91.0,34.0,185.0,81.0,2147.0,NaN,1.0,NaN,4.0,4.0,...,63.0,NaN,63.0,NaN,0.0,0.0,1.0,0.0,0.0,1.0
2,NaN,NaN,185.0,81.0,2205.0,458.0,NaN,4.0,4.0,5.0,...,64.0,NaN,NaN,22.0,NaN,0.0,0.0,0.0,0.0,NaN
3,91.0,NaN,NaN,70.0,2303.0,483.0,1.0,NaN,NaN,4.0,...,78.0,NaN,78.0,24.0,1.0,0.0,NaN,1.0,0.0,0.0
4,95.0,23.0,182.0,NaN,2177.0,470.0,1.0,4.0,5.0,4.0,...,66.0,57.0,66.0,21.0,1.0,0.0,0.0,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18415,56.0,21.0,NaN,68.0,1287.0,NaN,1.0,3.0,2.0,1.0,...,NaN,36.0,40.0,15.0,NaN,0.0,NaN,NaN,0.0,1.0
18416,NaN,NaN,175.0,NaN,1289.0,267.0,1.0,NaN,NaN,1.0,...,49.0,49.0,NaN,NaN,0.0,0.0,1.0,0.0,0.0,1.0
18417,67.0,18.0,170.0,65.0,1333.0,277.0,1.0,3.0,2.0,NaN,...,46.0,NaN,46.0,17.0,1.0,NaN,0.0,0.0,NaN,1.0
18418,61.0,17.0,NaN,65.0,NaN,NaN,NaN,3.0,2.0,NaN,...,47.0,49.0,47.0,NaN,0.0,0.0,1.0,0.0,0.0,1.0
18419,50.0,25.0,NaN,66.0,1277.0,NaN,0.0,NaN,2.0,1.0,...,47.0,NaN,47.0,19.0,0.0,0.0,NaN,NaN,0.0,1.0

In [9]:
print(mcar_dfs['mcar_df_30'].isna().sum().sum())

348378

In [10]:
mcar_dfs['mcar_df_50']

,Potential,Age,Height(in cm),Weight(in kg),TotalStats,BaseStats,Preferred Foot,Weak Foot Rating,Skill Moves,International Reputation,...,LB Rating,CB Rating,RB Rating,GK Rating,Attacking Work Rate_High,Attacking Work Rate_Low,Attacking Work Rate_Medium,Defensive Work Rate_High,Defensive Work Rate_Low,Defensive Work Rate_Medium
0,NaN,35.0,NaN,67.0,2190.0,452.0,0.0,4.0,4.0,5.0,...,62.0,53.0,NaN,22.0,NaN,NaN,0.0,NaN,1.0,0.0
1,91.0,34.0,NaN,NaN,2147.0,455.0,1.0,NaN,4.0,4.0,...,NaN,NaN,NaN,21.0,0.0,0.0,NaN,NaN,0.0,1.0
2,91.0,33.0,185.0,NaN,2205.0,458.0,NaN,NaN,NaN,5.0,...,64.0,NaN,NaN,22.0,1.0,0.0,NaN,0.0,NaN,NaN
3,91.0,31.0,181.0,70.0,2303.0,483.0,1.0,5.0,NaN,4.0,...,NaN,72.0,78.0,24.0,1.0,0.0,0.0,1.0,0.0,NaN
4,NaN,23.0,NaN,73.0,2177.0,NaN,1.0,4.0,5.0,4.0,...,66.0,57.0,NaN,NaN,1.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18415,56.0,NaN,174.0,NaN,1287.0,274.0,NaN,3.0,NaN,1.0,...,NaN,36.0,40.0,15.0,NaN,0.0,NaN,0.0,0.0,NaN
18416,57.0,17.0,175.0,60.0,NaN,267.0,1.0,3.0,2.0,1.0,...,NaN,NaN,NaN,15.0,NaN,NaN,1.0,0.0,0.0,1.0
18417,NaN,18.0,NaN,65.0,1333.0,277.0,1.0,NaN,2.0,1.0,...,46.0,NaN,NaN,17.0,NaN,NaN,0.0,0.0,0.0,NaN
18418,61.0,17.0,NaN,NaN,NaN,226.0,NaN,3.0,2.0,NaN,...,NaN,49.0,47.0,15.0,0.0,NaN,1.0,0.0,NaN,NaN
18419,50.0,25.0,NaN,66.0,1277.0,269.0,NaN,NaN,2.0,1.0,...,47.0,NaN,47.0,19.0,0.0,0.0,1.0,0.0,0.0,NaN

In [11]:
print(mcar_dfs['mcar_df_10'].isna().sum().sum())
print(mcar_dfs['mcar_df_30'].isna().sum().sum())
print(mcar_dfs['mcar_df_50'].isna().sum().sum())

127944
348378
529577

## **MAR GENERATION**

In [12]:
def generate_mar(data, pr):
    x = len(data)
    y = len(data.columns)
    num_missing_values = int(x * y * pr)

    # Calculate the correlation matrix and fill NaN values with 0
    corr_matrix = data.corr().abs().fillna(0)

    # Get the probability weights for each column based on their maximum correlation
    prob_weights_columns = corr_matrix.max()

    for _ in range(num_missing_values):
        # Choose a column based on its probability weight
        selected_column = np.random.choice(
            data.columns, p=prob_weights_columns / prob_weights_columns.sum()
        )

        # Calculate the probabilities for selecting a row, handling possible NaN values
        row_probabilities = data[selected_column].fillna(0) / data[selected_column].sum()

        # If all probabilities are zero, set them to uniform probabilities
        if row_probabilities.sum() == 0:
            row_probabilities = pd.Series([1 / len(row_probabilities)] * len(row_probabilities), index=row_probabilities.index)

        # Normalize the probabilities so that they sum to 1
        row_probabilities /= row_probabilities.sum()

        # Choose a row based on the correlation between the selected column and other columns
        selected_row = np.random.choice(
            data.index,
            p=row_probabilities,
        )

        # Set the value to NaN
        data.at[selected_row, selected_column] = np.nan

    return data

In the MAR missing value generation algorithm, the correlation matrix is used to simulate the "Missing At Random" pattern. Missing At Random (MAR) means that the probability of a value being missing is related to the observed data. In other words, the missingness is not entirely random, but it is also not dependent on the specific value that is missing.

The correlation matrix is a measure of the linear relationship between pairs of variables in the dataset. By using the correlation matrix, the algorithm can identify relationships between variables and exploit them to introduce missing values. This way, the algorithm simulates the MAR pattern more accurately.

In the algorithm, we calculate the correlation matrix and obtain the maximum correlation for each column. These maximum correlations are used as probability weights for selecting which variable (column) to introduce missing values. A higher correlation indicates a stronger relationship between variables, making it more likely for the variable to be selected for missing value introduction. Once a column is selected, a row is chosen based on the distribution of the selected column, which also reflects the relationships between variables.

By using the correlation matrix, the algorithm ensures that the missing values are introduced in a way that mimics the MAR pattern â€“ the probability of missing values depends on the observed data, capturing the relationships between variables in the dataset.

In [13]:
mar_dfs = {}

for p in probs:
    mar = df.copy()
    mar_dfs[f'mar_df_{int(p*100)}'] = generate_mar(mar, p)

In [14]:
print(mar_dfs['mar_df_10'].isna().sum().sum())
print(mar_dfs['mar_df_30'].isna().sum().sum())
print(mar_dfs['mar_df_50'].isna().sum().sum())

134356
401405
665376

## **MNAR GENERATION**

In [15]:
def generate_mnar(data, pr):
    x = len(data)
    y = len(data.columns)
    num_missing_values = int(x * y * pr)

    data_flat = data.values.flatten()
    data_flat_indices = np.arange(data_flat.size)
    prob_weights = np.abs(np.random.randn(data_flat.size))

    missing_indices = np.random.choice(
        data_flat_indices, num_missing_values, replace=False, p=prob_weights / prob_weights.sum()
    )

    for idx in missing_indices:
        i, j = divmod(idx, y)
        data.iloc[i, j] = np.nan

    return data

In [16]:
mnar_dfs = {}

for p in probs:
    mnar = df.copy()
    mnar_dfs[f'mnar_df_{int(p*100)}'] = generate_mnar(mnar, p)

In [17]:
print(mnar_dfs['mnar_df_10'].isna().sum().sum())
print(mnar_dfs['mnar_df_30'].isna().sum().sum())
print(mnar_dfs['mnar_df_50'].isna().sum().sum())

134466
403398
672330

In the MNAR (Missing Not At Random) missing value generation algorithm, the missingness is related to the values that are missing themselves, rather than to the observed data. To simulate this type of missingness, the algorithm introduces a probability weight for each data point, which is based on a random noise distribution (in this case, a standard normal distribution).

Here's a breakdown of the MNAR algorithm:

Flatten the input DataFrame into a 1D array (data_flat) and calculate the indices of each element (data_flat_indices).
Generate a noise distribution by drawing random samples from a standard normal distribution (using np.random.randn()). This noise distribution is the same size as the flattened data.
Take the absolute value of the noise distribution to ensure positive weights and use them as probability weights (prob_weights) for each data point.
Choose a certain number of indices (missing_indices) from the flattened data based on the given percentage (p) of missing values and the probability weights.
Replace the selected elements in the original DataFrame with np.nan to introduce missing values.
In this algorithm, the probability of a value being missing depends on the random noise distribution. Since the missingness is generated using a random noise distribution unrelated to the observed data, the missingness is more likely to be related to the missing values themselves rather than the observed values. This approach simulates the MNAR pattern in the dataset.

It's important to note that this specific MNAR algorithm is just one way to introduce MNAR missing values. Depending on the desired missing data pattern or specific use case, other approaches might be more suitable.

In [18]:
# Loop through the dictionaries and display the dataframes
for p in probs:
    for mechanism, dfs in [("MCAR", mcar_dfs), ("MAR", mar_dfs), ("MNAR", mnar_dfs)]:
        key = f"{mechanism.lower()}_df_{int(p*100)}"
        print(f"{mechanism} DataFrame with probability {int(p*100)}:")
        display(dfs[key].head())  # Show the top rows of the dataframe
        print("\n")  # Add an extra line for better readability

MCAR DataFrame with probability 10:

,Potential,Age,Height(in cm),Weight(in kg),TotalStats,BaseStats,Preferred Foot,Weak Foot Rating,Skill Moves,International Reputation,...,LB Rating,CB Rating,RB Rating,GK Rating,Attacking Work Rate_High,Attacking Work Rate_Low,Attacking Work Rate_Medium,Defensive Work Rate_High,Defensive Work Rate_Low,Defensive Work Rate_Medium
0,91.0,35.0,169.0,67.0,2190.0,452.0,NaN,4.0,4.0,5.0,...,62.0,53.0,62.0,22.0,0.0,1.0,0.0,0.0,1.0,0.0
1,91.0,NaN,NaN,NaN,2147.0,455.0,1.0,4.0,4.0,4.0,...,NaN,NaN,63.0,21.0,0.0,0.0,1.0,0.0,0.0,1.0
2,91.0,33.0,185.0,81.0,2205.0,458.0,1.0,4.0,4.0,5.0,...,64.0,NaN,64.0,22.0,1.0,0.0,NaN,0.0,0.0,1.0
3,91.0,31.0,181.0,70.0,2303.0,483.0,NaN,5.0,4.0,4.0,...,NaN,72.0,78.0,24.0,1.0,0.0,0.0,NaN,0.0,0.0
4,95.0,23.0,182.0,73.0,2177.0,470.0,1.0,4.0,5.0,4.0,...,66.0,57.0,66.0,21.0,1.0,0.0,0.0,0.0,1.0,NaN

MAR DataFrame with probability 10:

,Potential,Age,Height(in cm),Weight(in kg),TotalStats,BaseStats,Preferred Foot,Weak Foot Rating,Skill Moves,International Reputation,...,LB Rating,CB Rating,RB Rating,GK Rating,Attacking Work Rate_High,Attacking Work Rate_Low,Attacking Work Rate_Medium,Defensive Work Rate_High,Defensive Work Rate_Low,Defensive Work Rate_Medium
0,91.0,35.0,169.0,67.0,2190.0,452.0,0.0,4.0,4.0,5.0,...,62.0,53.0,62.0,NaN,0.0,NaN,0.0,0.0,NaN,0.0
1,91.0,34.0,185.0,81.0,2147.0,455.0,1.0,4.0,4.0,NaN,...,63.0,58.0,NaN,NaN,0.0,0.0,1.0,0.0,0.0,1.0
2,91.0,33.0,185.0,81.0,2205.0,458.0,1.0,4.0,4.0,5.0,...,64.0,63.0,64.0,22.0,1.0,NaN,0.0,0.0,0.0,NaN
3,91.0,31.0,181.0,70.0,2303.0,483.0,1.0,NaN,4.0,NaN,...,NaN,NaN,78.0,24.0,1.0,0.0,0.0,NaN,0.0,0.0
4,95.0,23.0,182.0,73.0,2177.0,470.0,1.0,4.0,5.0,NaN,...,66.0,57.0,66.0,21.0,1.0,0.0,0.0,0.0,NaN,0.0

MNAR DataFrame with probability 10:

,Potential,Age,Height(in cm),Weight(in kg),TotalStats,BaseStats,Preferred Foot,Weak Foot Rating,Skill Moves,International Reputation,...,LB Rating,CB Rating,RB Rating,GK Rating,Attacking Work Rate_High,Attacking Work Rate_Low,Attacking Work Rate_Medium,Defensive Work Rate_High,Defensive Work Rate_Low,Defensive Work Rate_Medium
0,91.0,35.0,169.0,67.0,NaN,452.0,0.0,4.0,NaN,5.0,...,62.0,53.0,62.0,22.0,0.0,1.0,0.0,NaN,1.0,0.0
1,NaN,34.0,185.0,81.0,2147.0,455.0,1.0,4.0,4.0,4.0,...,63.0,58.0,63.0,21.0,NaN,0.0,1.0,0.0,0.0,1.0
2,91.0,33.0,185.0,81.0,2205.0,458.0,1.0,4.0,4.0,5.0,...,64.0,63.0,64.0,22.0,1.0,0.0,0.0,0.0,0.0,1.0
3,91.0,31.0,181.0,70.0,2303.0,483.0,1.0,5.0,NaN,4.0,...,78.0,72.0,78.0,24.0,1.0,0.0,0.0,1.0,0.0,0.0
4,95.0,23.0,182.0,73.0,2177.0,470.0,1.0,4.0,5.0,4.0,...,66.0,57.0,66.0,21.0,1.0,0.0,0.0,0.0,1.0,0.0

MCAR DataFrame with probability 30:

,Potential,Age,Height(in cm),Weight(in kg),TotalStats,BaseStats,Preferred Foot,Weak Foot Rating,Skill Moves,International Reputation,...,LB Rating,CB Rating,RB Rating,GK Rating,Attacking Work Rate_High,Attacking Work Rate_Low,Attacking Work Rate_Medium,Defensive Work Rate_High,Defensive Work Rate_Low,Defensive Work Rate_Medium
0,NaN,35.0,169.0,67.0,2190.0,NaN,NaN,4.0,NaN,5.0,...,62.0,53.0,62.0,22.0,0.0,NaN,0.0,0.0,1.0,NaN
1,91.0,34.0,185.0,81.0,2147.0,NaN,1.0,NaN,4.0,4.0,...,63.0,NaN,63.0,NaN,0.0,0.0,1.0,0.0,0.0,1.0
2,NaN,NaN,185.0,81.0,2205.0,458.0,NaN,4.0,4.0,5.0,...,64.0,NaN,NaN,22.0,NaN,0.0,0.0,0.0,0.0,NaN
3,91.0,NaN,NaN,70.0,2303.0,483.0,1.0,NaN,NaN,4.0,...,78.0,NaN,78.0,24.0,1.0,0.0,NaN,1.0,0.0,0.0
4,95.0,23.0,182.0,NaN,2177.0,470.0,1.0,4.0,5.0,4.0,...,66.0,57.0,66.0,21.0,1.0,0.0,0.0,NaN,NaN,0.0

MAR DataFrame with probability 30:

,Potential,Age,Height(in cm),Weight(in kg),TotalStats,BaseStats,Preferred Foot,Weak Foot Rating,Skill Moves,International Reputation,...,LB Rating,CB Rating,RB Rating,GK Rating,Attacking Work Rate_High,Attacking Work Rate_Low,Attacking Work Rate_Medium,Defensive Work Rate_High,Defensive Work Rate_Low,Defensive Work Rate_Medium
0,NaN,35.0,NaN,67.0,NaN,452.0,0.0,NaN,4.0,NaN,...,62.0,NaN,NaN,22.0,0.0,NaN,0.0,0.0,NaN,0.0
1,91.0,34.0,185.0,NaN,NaN,455.0,1.0,4.0,4.0,NaN,...,NaN,NaN,63.0,21.0,0.0,0.0,NaN,0.0,0.0,NaN
2,91.0,33.0,185.0,81.0,2205.0,458.0,1.0,4.0,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
3,NaN,NaN,181.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,78.0,NaN,78.0,24.0,NaN,0.0,0.0,NaN,0.0,0.0
4,95.0,23.0,182.0,73.0,2177.0,470.0,NaN,4.0,5.0,NaN,...,66.0,57.0,NaN,21.0,NaN,0.0,0.0,0.0,NaN,0.0

MNAR DataFrame with probability 30:

,Potential,Age,Height(in cm),Weight(in kg),TotalStats,BaseStats,Preferred Foot,Weak Foot Rating,Skill Moves,International Reputation,...,LB Rating,CB Rating,RB Rating,GK Rating,Attacking Work Rate_High,Attacking Work Rate_Low,Attacking Work Rate_Medium,Defensive Work Rate_High,Defensive Work Rate_Low,Defensive Work Rate_Medium
0,NaN,35.0,NaN,67.0,NaN,452.0,0.0,4.0,4.0,5.0,...,NaN,53.0,NaN,22.0,NaN,NaN,NaN,NaN,1.0,0.0
1,91.0,34.0,185.0,81.0,2147.0,NaN,1.0,4.0,4.0,NaN,...,NaN,NaN,63.0,21.0,NaN,0.0,NaN,0.0,0.0,NaN
2,91.0,33.0,185.0,81.0,NaN,458.0,1.0,4.0,4.0,5.0,...,64.0,NaN,64.0,NaN,1.0,NaN,0.0,0.0,NaN,NaN
3,91.0,NaN,181.0,70.0,2303.0,483.0,1.0,5.0,4.0,4.0,...,NaN,NaN,78.0,NaN,1.0,0.0,0.0,1.0,0.0,NaN
4,95.0,23.0,182.0,73.0,2177.0,470.0,1.0,4.0,5.0,4.0,...,NaN,57.0,66.0,NaN,1.0,NaN,0.0,0.0,NaN,0.0

MCAR DataFrame with probability 50:

,Potential,Age,Height(in cm),Weight(in kg),TotalStats,BaseStats,Preferred Foot,Weak Foot Rating,Skill Moves,International Reputation,...,LB Rating,CB Rating,RB Rating,GK Rating,Attacking Work Rate_High,Attacking Work Rate_Low,Attacking Work Rate_Medium,Defensive Work Rate_High,Defensive Work Rate_Low,Defensive Work Rate_Medium
0,NaN,35.0,NaN,67.0,2190.0,452.0,0.0,4.0,4.0,5.0,...,62.0,53.0,NaN,22.0,NaN,NaN,0.0,NaN,1.0,0.0
1,91.0,34.0,NaN,NaN,2147.0,455.0,1.0,NaN,4.0,4.0,...,NaN,NaN,NaN,21.0,0.0,0.0,NaN,NaN,0.0,1.0
2,91.0,33.0,185.0,NaN,2205.0,458.0,NaN,NaN,NaN,5.0,...,64.0,NaN,NaN,22.0,1.0,0.0,NaN,0.0,NaN,NaN
3,91.0,31.0,181.0,70.0,2303.0,483.0,1.0,5.0,NaN,4.0,...,NaN,72.0,78.0,24.0,1.0,0.0,0.0,1.0,0.0,NaN
4,NaN,23.0,NaN,73.0,2177.0,NaN,1.0,4.0,5.0,4.0,...,66.0,57.0,NaN,NaN,1.0,0.0,0.0,0.0,1.0,0.0

MAR DataFrame with probability 50:

,Potential,Age,Height(in cm),Weight(in kg),TotalStats,BaseStats,Preferred Foot,Weak Foot Rating,Skill Moves,International Reputation,...,LB Rating,CB Rating,RB Rating,GK Rating,Attacking Work Rate_High,Attacking Work Rate_Low,Attacking Work Rate_Medium,Defensive Work Rate_High,Defensive Work Rate_Low,Defensive Work Rate_Medium
0,NaN,NaN,169.0,67.0,NaN,NaN,0.0,NaN,NaN,NaN,...,62.0,53.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0
1,NaN,34.0,185.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,21.0,0.0,0.0,NaN,0.0,NaN,NaN
2,NaN,33.0,NaN,NaN,NaN,458.0,NaN,4.0,NaN,NaN,...,NaN,NaN,64.0,22.0,NaN,0.0,0.0,0.0,0.0,NaN
3,91.0,NaN,NaN,70.0,2303.0,NaN,NaN,NaN,NaN,NaN,...,78.0,72.0,NaN,24.0,NaN,0.0,0.0,NaN,NaN,0.0
4,NaN,23.0,182.0,NaN,NaN,470.0,1.0,NaN,NaN,4.0,...,66.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,0.0

MNAR DataFrame with probability 50:

,Potential,Age,Height(in cm),Weight(in kg),TotalStats,BaseStats,Preferred Foot,Weak Foot Rating,Skill Moves,International Reputation,...,LB Rating,CB Rating,RB Rating,GK Rating,Attacking Work Rate_High,Attacking Work Rate_Low,Attacking Work Rate_Medium,Defensive Work Rate_High,Defensive Work Rate_Low,Defensive Work Rate_Medium
0,91.0,NaN,169.0,NaN,NaN,452.0,0.0,NaN,4.0,NaN,...,NaN,NaN,62.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0
1,91.0,NaN,185.0,81.0,2147.0,NaN,1.0,NaN,NaN,4.0,...,63.0,NaN,63.0,NaN,NaN,NaN,1.0,0.0,NaN,NaN
2,NaN,NaN,185.0,81.0,2205.0,NaN,NaN,4.0,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,1.0
3,91.0,31.0,181.0,NaN,NaN,483.0,NaN,NaN,4.0,NaN,...,78.0,NaN,78.0,24.0,NaN,NaN,NaN,NaN,NaN,0.0
4,NaN,23.0,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,21.0,1.0,0.0,0.0,0.0,NaN,0.0

In [20]:
aux = [10, 30, 50]
for p in aux:
    mcar_dfs[f'mcar_df_{p}'].insert(0, "Overall", overall)
    mar_dfs[f'mar_df_{p}'].insert(0, "Overall", overall)
    mnar_dfs[f'mnar_df_{p}'].insert(0, "Overall", overall)

    mcar_dfs[f'mcar_df_{p}'].to_csv(f'./missing_data/fifa23_MCAR_{p}.csv', index=False)
    mar_dfs[f'mar_df_{p}'].to_csv(f'./missing_data/fifa23_MAR_{p}.csv', index=False)
    mnar_dfs[f'mnar_df_{p}'].to_csv(f'./missing_data/fifa23_MNAR_{p}.csv', index=False)